# 【第1回_Beginner限定コンペ】銀行の顧客ターゲティング

顧客の属性情報などから定期預金キャンペーンの反応率を予測しよう。

https://signate.jp/competitions/292

Inference編

In [7]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
submit_df = pd.read_csv('submit_sample.csv', header=None)

files = {}

files['gbm1'] = 'submit-Copy1.csv'
files['gbm2'] = 'submit-Copy2.csv'
files['gbm3'] = 'submit-Copy3.csv'
files['gbm4'] = 'submit-Copy4.csv'
files['gbm5'] = 'submit-Copy5.csv'

#files['rf1'] = 'submit-rf-Copy1.csv'
#files['rf2'] = 'submit-rf-Copy2.csv'
#files['rf3'] = 'submit-rf-Copy3.csv'
#files['rf4'] = 'submit-rf-Copy4.csv'
#files['rf5'] = 'submit-rf-Copy5.csv'

#files['nn'] = 'submit.csv'

In [9]:
dfs = []
for key, _file in files.items():
    df = pd.read_csv(_file, header=None, index_col=0, names=[key])
    dfs.append(df)
    
_submission = pd.concat(dfs, axis=1)
_submission.info()
_submission.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18050 entries, 0 to 18049
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gbm1    18050 non-null  float64
 1   gbm2    18050 non-null  float64
 2   gbm3    18050 non-null  float64
 3   gbm4    18050 non-null  float64
 4   gbm5    18050 non-null  float64
dtypes: float64(5)
memory usage: 846.1 KB

       gbm1      gbm2      gbm3      gbm4      gbm5
0  0.737622  0.799881  0.762300  0.769502  0.659965
1  0.105516  0.084387  0.074333  0.090934  0.084623
2  0.022290  0.020389  0.032877  0.019183  0.012233
3  0.002512  0.003035  0.002934  0.002924  0.001551
4  0.035520  0.015671  0.055685  0.025229  0.015772

In [10]:
#submission_pg = sns.pairplot(_submission)
#submission_pg.savefig('submission_df.png')

In [11]:
# Rank Average
#for key in files.keys():
#    _submission[key + '_rank'] = _submission[key].rank()
    
#_submission['rank_sum'] = np.sum(_submission[col] for col in _submission.columns if '_rank' in col)
#_submission['target'] = _submission['rank_sum'] / (len(files) * _submission.shape[0])
_submission.info()
_submission.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18050 entries, 0 to 18049
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gbm1    18050 non-null  float64
 1   gbm2    18050 non-null  float64
 2   gbm3    18050 non-null  float64
 3   gbm4    18050 non-null  float64
 4   gbm5    18050 non-null  float64
dtypes: float64(5)
memory usage: 846.1 KB

       gbm1      gbm2      gbm3      gbm4      gbm5
0  0.737622  0.799881  0.762300  0.769502  0.659965
1  0.105516  0.084387  0.074333  0.090934  0.084623
2  0.022290  0.020389  0.032877  0.019183  0.012233
3  0.002512  0.003035  0.002934  0.002924  0.001551
4  0.035520  0.015671  0.055685  0.025229  0.015772

In [12]:
#submit_df[1] = _submission.iloc[:,-1]
submit_df[1] = _submission.sum(axis=1) / 5

print(submit_df.head())

submit_df.to_csv('submit_ensemble.csv', header=False, index=False)

   0         1
0  0  0.745854
1  1  0.087958
2  2  0.021394
3  3  0.002591
4  4  0.029575